.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 5%;
    grid-template-rows: 10% 1fr auto;
    grid-template-areas:
        "sidebar header header"
        "sidebar main ."
        "sidebar footer footer";
    height: 100vh;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
}

.header {
    grid-area: header;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

@media (max-width: 600px) {
    .dashboard {
        grid-template-columns: 56px 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar main"
            "sidebar  footer";
        padding: 0.5rem;
        gap: 1rem;
    }

    .header {
        grid-area: header;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        gap: 0rem;
    }
}
