.logo {
    position: relative;
    padding: 2rem 3rem 2rem 3rem;
}

.link {
    text-decoration: none;
    color: inherit;

}

.homeIcon {
    font-size: 38px;
    color: var(--color-main-dark);
}

.title {
    font-weight: bold;
    position: relative;
    color: var(--color-main-dark)
}