.listRow {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: .25rem;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: inset;

    > * {
        margin-bottom: 0.5rem;
    }
}
